<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<h2>Owner</h2>

<form th:object="${owner}"
      th:action="@{${owner.id == null} ? '/owners/new' : '/owners/' + ${owner.id} + '/edit'}"
      method="post"
      class="form-horizontal" id="add-owner-form">

  <div class="form-group has-feedback">
    <label for="firstName"></label>
    <input th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}"
           th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'"/>
    <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>

    <label for="lastName"></label>
    <input th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}"
           th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'"/>
    <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>

    <label for="address"></label>
    <input th:replace="~{fragments/inputField :: input ('Address', 'address', 'text')}"
           th:classappend="${#fields.hasErrors('address')} ? 'is-invalid'"/>
    <span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>

    <label for="city"></label>
    <input th:replace="~{fragments/inputField :: input ('City', 'city', 'text')}"
           th:classappend="${#fields.hasErrors('city')} ? 'is-invalid'"/>
    <span class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>

    <label for="telephone"></label>
    <input th:replace="~{fragments/inputField :: input ('Telephone', 'telephone', 'text')}"
           th:classappend="${#fields.hasErrors('telephone')} ? 'is-invalid'"/>
    <span class="text-danger" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></span>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" type="submit"
              th:text="${owner.id == null} ? 'Add Owner' : 'Update Owner'">
        Add Owner
      </button>
    </div>
  </div>
</form>

</body>
</html>